<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="LandmarkServiceLibrary.LandmarkService">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8732/LandmarkService" />
					</baseAddresses>
				</host>
				<endpoint address="" 
						  binding="webHttpBinding" 
						  contract="LandmarkServiceLibrary.ILandmarkService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="LandmarkServiceLibrary.LandmarkServiceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="LandmarkServiceBinding">
					<security/>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	<startup>		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
	</startup>
</configuration>
