<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="WorkflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<WorkflowRuntime Name="WorkflowServiceContainer">
		<Services>
			<add type="System.Workflow.Runtime.Hosting.ManualWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add type="System.Workflow.Runtime.Hosting.DefaultWorkflowCommitWorkBatchService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</Services>
	</WorkflowRuntime>
	<appSettings/>
	<connectionStrings>
		<add name="LandMarkConnectionString" connectionString=""/>
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="LandmarkServiceLibrary.LandmarkService" behaviorConfiguration="LandmarkServiceLibrary.LandmarkServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8732/LandmarkService" />
					</baseAddresses>
				</host>
				<endpoint address ="" binding="wsHttpBinding" contract="LandmarkServiceLibrary.ILandmarkService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="LandmarkServiceLibrary.LandmarkServiceBehavior">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="LandmarkServiceBinding">
					<security/>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	<system.web>
		<compilation debug="false"/>
		<authentication mode="Windows"/>
		<httpModules>
			<add type="System.Workflow.Runtime.Hosting.WorkflowWebHostingModule, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="WorkflowHost"/>
		</httpModules>
	</system.web>
</configuration>